<div class="container">
    <div class="row pt-5">
        <div class="col-2">
            {{{photo}}}
        </div>
        <div class="col-10 p-4">
            <h3>{{lastname}} {{firstname}}</h3>
        </div>
    </div>
    <div class="row pt-5">
        {{{coursestable}}}
    </div>
</div>
